.view div {
    display: flex;
    margin-bottom: var(--size-xs);
}

.view .label {
    flex: 1;
}

.view .value {
    flex: 2;
}

.edit {
    display: flex;
    flex-direction: column;
}

.edit .form-field {
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: var(--size-xs);
}

.edit .btn-submit {
    margin: var(--size-sm) 0;
    margin-inline-start: 150px;
    padding: 5px 10px;
}