:root {
    /* colors come from brand variables */
    /* Colors */
    --color-white: #fff;
    --color-light: #f1f3f7;
    --color-light-medium: #e4e7ed;
    --color-medium: #b9bfcb;
    --color-medium-dark: #8c98ab;
    --color-dark: #33373e;
    --color-accent1: rgb(255, 0, 153);
    --color-accent2: #e40089;
    --color-accent3:#e0c3fc;

    /* sizes */
    --size-xs: 8px;
    --size-sm: 16px;
    --size-md: 25px;
    --size-lg: 32px;
    --size-xl: 50px;

    /* fonts */
    --font-xs: 400 0.75rem 'Roboto Condensed';
    --font-sm: 400 0.875rem 'Roboto Condensed';
    --font-md: 400 1rem 'Roboto Condensed';
    --font-lg: 400 1.125rem 'Roboto Condensed';
    --font-lgb: 600 1.125rem 'Roboto Condensed';
    --font-xl: 400 1.25rem 'Roboto Condensed';
    --font-title: 400 3rem 'Metal Mania';
}