html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: clamp(100%, 1rem + 2vw, 16px);
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-areas: "sidebar main" "footer footer";
    grid-template-rows: auto min-content;
    grid-template-columns: 150px auto;
    height: 100vh;
}

#sidenav-main {
    grid-area: sidebar;
    background: var(--color-dark);
    padding: var(--size-sm);
    border-radius: 10px;
    margin-inline-start: var(--size-sm);
    margin-block-start: 30vh;
}