<div class="card-step">
  <div class="header">
      <h2>Card Details</h2>
  </div>

  <div class="body">
      <section class="step-body">
          <h2>Contact Details</h2>

          <div class="form-control">
              <label for="name">Name</label>
              <input id="name" />
          </div>
          <div class="form-control">
              <label for="nationality">Nationality</label>
              <input id="nationality" />
          </div>
          <div id="phone-control" class="form-control">
              <label for="phone">Phone Number</label>
              <secure-phone></secure-phone>
          </div>

          <h2>Shipping Address</h2>

          <div class="form-control">
              <label for="country">Country</label>
              <input id="country" />
          </div>
          <div class="form-control">
              <label for="address">Address</label>
              <input id="address" />
          </div>
          <div class="form-control">
              <label for="city">City</label>
              <input id="city" />
          </div>
          <div class="form-control">
              <label for="zipcode">Zip Code</label>
              <input id="zipcode" />
          </div>

          <p class="legal">
              Before you can order your card, you must agree to <a href="/">these Terms and Conditions</a>
              <br /><br />
              We strive to keep your information safe. <a href="/">Learn more</a>
          </p>
      </section>

      <footer>
          <button type="button">Submit</button>
      </footer>
  </div>
</div>